<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoneyGuard - Stock Prediction</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  
</head>

<body>
    <nav class="navbar">
        <div class="container cont">
            <img src="../static/images/logo.png" alt="MoneyGuard Logo" class="logo">

            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </div>
    </nav>

    <main class="main-content">
        <div class="container">
            <h1>Stock Prediction</h1>
            <h2>Unlock Insights, Make Smarter Investments</h2>
            <p>Welcome to the Stock Prediction feature of MoneyGuard. Our advanced machine learning models provide
                personalized stock insights to help you make informed investment decisions. Analyze market trends,
                predict stock movements, and manage your portfolio with confidence.</p>
      
        <div>
            <img src="../static/images/nse.png" alt="nse_image" class="logo1">
        </div>
        <h3 class="h21">Empower yourself with the knowledge to invest smarter. Explore the Stock Prediction feature on MoneyGuard today.

        </h3>
    
    <a href="{{ url_for('start') }}" class="last">Start Predicting Now</a>
    </div>

    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 MoneyGuard. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>