<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoneyGuard - Stock Prediction</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style_today.css">
    <script src="/static/js/script.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="container cont">
            <img src="../static/images/logo.png" alt="MoneyGuard Logo" class="logo">

            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Login</a></li>  
                <li><a href="#">Register</a></li>
            </ul>
        </div>
    </nav>

    <main class="main-content">
        <div class="container">
            <h1>Stock Price Prediction</h1>
            <h6 class="h21">Predict, Invest, Prosper, Repeat</h6>
            <h5>Today's Stock Price</h5>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% else %}
        <h2>{{ stock_symbol }} - Today's Prices</h2>
        <p><strong>Open Price:</strong> {{ today_open }}</p>
        <p><strong>Close Price:</strong> {{ today_close }}</p>
        <p><strong>Live Price:</strong> {{ live_price }}</p>

        <h2>Today's Close Price Chart</h2>
        <img src="data:image/png;base64,{{ close_chart_url }}" alt="Today's Close Price Chart" class="image">

        <h2>Last 30 Days - Open & Close Prices</h2>
        <img src="data:image/png;base64,{{ open_close_chart_url }}" alt="30 Days Open & Close Prices" class="image">
    {% endif %}
          
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 MoneyGuard. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
